@media all and (max-width: 1280px) {
   .row {
     display: flex;
     flex-wrap: wrap;
   }
   .card {
      width: 50%;

   }
   .logo {
      width: 200%;
   }

   @media all and (max-width: 640px) {
      .row {
        display: flex;
        flex-wrap: wrap;
      }
      .card {
         width: 100%;

      }
      .logo {
         width: 100%;
      }
   }
 }
