@mixin cardformat {
  display: flex;
  height: 500px;
  flex-direction: column;
  margin: 0;

  .picture {
    height: 250px;
    width: 100%;
    text-align: center;
    border: 2px dotted gray;
  }
  h1 {
    justify-content: flex-start;
    color:white;
    font-size: 20px;
    font-weight:bold;
    margin: 0;
  }

  .container {
    display: flex;
    width: 100%;
    margin:0;
    padding:0;
  }

  h2 {
    width: 75%;
    height: 40px;
    margin-top: 10px;
    padding-top: 17px;
    text-align: left;
    color:white;
    font-size: 16px;
    text-transform: uppercase;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
  }

  a {
    width: 25%;
    height: 40px;
    margin-top: 10px;
    text-align: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    float: right;

  }
  p {
    clear: both;
    width: 100%;
    margin-top: 10px;
    color: white;
  }
}


.yellow {
  @include cardformat;
  background-color: #fbb535;
}

.red {
  @include cardformat;
  background-color: #df4b35;
}

.beige {
  @include cardformat;
  background-color: #ccbeac;
}

.brown {
  @include cardformat;
  background-color: #49423a;
}

.blue {
  @include cardformat;
  background-color: #6fcbd5;
}

.green {
  @include cardformat;
  background-color: #a1d082;
}

.logo {
  display: flex;
  height: 500px;
  background-color: silver;
  justify-content: center;
  align-items: center;
  margin: auto;
}
